@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Open+Sans|Open+Mono|PT+Mono|PT+Sans|Roboto');

table, tr, th, td {
  border-collapse: collapse;
}

p {
  margin: 0.5em;
}

img#loading-icon {
  display: block;
  margin: 0 auto;
}

body {
  background-color: #e0e8f0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

.pane {
  background-color: #f1f5f9;
  padding: 0;
  border-radius: 0.5em;
  border: 0.25em #7099c2 solid;
}

.tabbed-pane {
  width: 100%;
  background-color: #7099c2;
}

.row {
  display: table-row;
}

.paired {
  display: table-cell;
}

label.paired {
  padding-right: 1em;
}

input.wide {
  min-width: 24em;
}

.tablink {
  display: inline-block;
  padding: 0.125em 0.5em;
  border-radius: 0.375em 0.375em 0 0;
  margin: 0;
  background-color: #94b2d1;
  cursor: pointer;
}

.tablink:hover, .tablink.active:hover {
  /* background-color: #7099c2; */
  background-color: #3d668f;
  color: #eee;
}

.tablink.active {
  background-color: #f1f5f9;
}

.tab-content {
  margin: 1em;
}

input {
  margin: 0.5em;
}

input[type=search], input[type=text] {
  margin: auto;
}

input[type=search].paired, input[type=text].paired {
  margin: 0.5em;
}

.res-table {
  width: 100%;
}

.res-table tr, .res-table tbody, .res-table thead {
  border: none;
}

.res-table td, .res-table th {
  border: 1px solid #3d668f;
}

.res-table td, .res-table th {
  padding: 0.25em 0.5em;
}

.res-table thead tr, .res-table thead tr th {
  background-color: #3d668f;
  color: #ffffff;
}

#feature-source {
  width: 32em;
  max-width: 80%;
}]

p.label {
  margin: 0;
}

/* Style for the "Rows Added" column from an addition operation. */
.res-table td.added {
  white-space: pre-wrap;
}
